.book
  .newnote
    .newnote__icon
      = link_to fa_icon 'edit', class: 'fa-2x'
      %p ノートを作る
  .book__info
    .book__info__icon
      = link_to fa_icon 'info-circle', class: 'fa-2x'
    .book__info__name
      ブック名
    .book__info__mentor
      メンター名
    .book__info__mentee
      メンティー名
    .book__info__purpose
      「目的」
  .book__notelist
    .book__notelist__condition
      .book__notelist__condition__total
        48個のノート
      .book__notelist__condition__sort
        .book__notelist__condition__sort__left
          並び替え
        .book__notelist__condition__sort__right
          = link_to fa_icon 'sort-down', class: 'icon'
    .book__notelist__notes
      %a{href:"URL", target: "_blank"}
        .note
          .note__title
            2018/10/10のノート
          .note__createdat
            2018/10/11
          .note__text
            話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る
      %a{href:"URL", target: "_blank"}
        .note
          .note__title
            2018/10/10のノート
          .note__createdat
            2018/10/11
          .note__text
            話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る
      %a{href:"URL", target: "_blank"}
        .note
          .note__title
            2018/10/10のノート
          .note__createdat
            2018/10/11
          .note__text
            話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る
      %a{href:"URL", target: "_blank"}
        .note
          .note__title
            2018/10/10のノート
          .note__createdat
            2018/10/11
          .note__text
            話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る      %a{href:"URL", target: "_blank"}
      %a{href:"URL", target: "_blank"}
        .note
          .note__title
            2018/10/10のノート
          .note__createdat
            2018/10/11
          .note__text
            話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る      %a{href:"URL", target: "_blank"}
      %a{href:"URL", target: "_blank"}
        .note
          .note__title
            2018/10/10のノート
          .note__createdat
            2018/10/11
          .note__text
            話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る      %a{href:"URL", target: "_blank"}
      %a{href:"URL", target: "_blank"}
        .note
          .note__title
            2018/10/10のノート
          .note__createdat
            2018/10/11
          .note__text
            話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る話した内容がここに入る      %a{href:"URL", target: "_blank"}
