$skyBlueColor: #38AEF0;
$whiteColor: #FFFFFF;
$grayColor1: #FAFAFA;
$grayColor2: #eeeeee;
$grayColor3: #DDDDDD;
$grayColor4: #999999;
$deepBlueColor1: #2f3e51;
$deepBlueColor2: #253141;
$blackColor: #434A54;
$orangeColor: #e55f29;
